<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
          Applied Solar Technology E-book
      </h1>
      <p class="lead">The Applied Solar Technology E-book is a simple, practical guide to using electric solar panels and designing and installing photovoltaic PV systems.</p>
        <form>
            <a class="flwpug_getpaid" 
            data-PBFPubKey="FLWPUBK-266ccc849f9191b1b09d7b82f608c3e8-X" 
            data-txref="rave-123456" 
            data-amount="30" 
            data-name="Applied Solar Technology E-book"
            data-description="E-book written by Russell Nyorere"
            data-customer_email="ecodenhub@gmail.com" 
            data-currency="USD" 
            data-pay_button_text="Purchase For $30" 
            data-country="NG"
            data-redirect_url="https://your-website.com/urlredirect"></a>
            <script type="text/javascript" src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
        </form>
    </div>
    <div class="col-md-6">
      <img src="/img/solar-book.jpg" alt="" class="img-fluid">
    </div>
  </div>
</section>